@import '../../../styles/app';

.invoice-page {
  .invoiceLogo {
    max-height: 100px;
  }

  .invoiceBody {
    margin-top: 70px;
  }

  .v-data-table {
    table tbody{
      tr:nth-child(odd) {
        background-color: #F3F5FF;
      }
    }
  }
}