@import "../../styles/app";

.dashboard-page {
  .breadcrumbs {
    .theme--dark.v-tabs > .v-tabs-bar {
      background-color: transparent;
      .v-tab--active {
        color: white;
      }
    }
    .theme--dark.v-text-field--solo > .v-input__control > .v-input__slot {
      background-color: transparent;
    }
    .v-text-field.v-text-field--solo.v-input--dense {
      margin-top: 9px;
    }
  }
  .main-page-title {
    font-size: 20px;
    font-weight: 500;
  }
  .apexcharts-legend-series {
    padding: 2px 5px 3px;
    display: flex;
    align-items: center;
    .apexcharts-legend-marker {
      margin-right: 8px;
    }
  }
  .main-chart-select {
    margin-right: 10px;
    fieldset {
      border-width: 1px!important;
      border-color: $grey-tint!important;
      color: $grey-tint!important;
    }
    .v-select__selection {
      color: $grey-medium!important;
    }
  }
  .v-card {
    .v-card__text {
      .subtext {
        font-size: 1.142rem;
        font-weight: 400;
        color: $grey-bold;
      }
      .subtext-index {
        font-size: 11px;
        color: $grey-medium;
        font-weight: 400;
      }
    }
  }
  .v-tabs {
    .v-item-group.v-slide-group.v-tabs-bar {
      .v-slide-group__prev--disabled {
        display: none!important;
      }
    }
  }

}

.v-menu__content {
  box-shadow: $card-shadow!important;
}
.button-shadow {
  box-shadow: $button-shadow;
  &.theme--dark {
    box-shadow: none;
  }
}
