@import "../../styles/app";

.dashboard-page {
  .breadcrumbs {
    .theme--dark.v-tabs > .v-tabs-bar {
      background-color: transparent;
      .v-tab--active {
        color: white;
      }
    }
    .theme--dark.v-text-field--solo > .v-input__control > .v-input__slot {
      background-color: transparent;
    }
    .v-text-field.v-text-field--solo.v-input--dense {

    }
  }
  .main-page-title {
    font-size: 20px;
    font-weight: 500;
  }
  .apexcharts-legend-series {
    padding: 2px 5px 3px;
    display: flex;
    align-items: center;
    .apexcharts-legend-marker {
      margin-right: 8px;
    }
    .apexcharts-legend-text {
      color: $grey-medium!important;
    }
  }
  .main-chart-select {
    margin-right: 10px;
    fieldset {
      color: $grey-tint!important;
    }
    .v-select__slot {
      width: 100%;
      .v-select__selections {
        color: $grey-medium!important;
        font-size: $fs-base;
        font-weight: 400;
        input {

        }
      }
    }

  }
  .support-table {
    .v-data-table-header th{
      font-size: $fs-medium;
      color: $grey-tint!important;
      font-weight: 400;
    }
    tbody tr td{
      font-size: $fs-base!important;
    }
    &.theme--dark {
      .v-data-table {
        background-color: transparent;
      }
    }
  }
  .v-card {
    .v-card__text {
      .subtext {
        font-size: 1.142rem;
        font-weight: 400;
        color: $grey-bold;
      }
      .subtext-index {
        font-size: 11px;
        color: $grey-medium;
        font-weight: 400;
      }
    }
  }
  .v-tabs {
    .v-item-group.v-slide-group.v-tabs-bar {
      .v-slide-group__prev--disabled {
        display: none!important;
      }
    }
  }
}
.support-card {
  &.theme--dark {
    #apexcharts-radialbarTrack-0 {
      stroke-opacity: 0;
    }
  }

}

.v-menu__content {
  box-shadow: $card-shadow!important;
}

