@import "../../../styles/app";

.product-management {
  .v-data-table > .v-data-table__wrapper > table > thead > tr > th {
    font-size: 0.9375rem;
    font-weight: 500;
    color: var(--v-greyBold-base);
  }
  .search {
    .v-label {
      height: 25px;
      top: 0;
    }
  }
}
.edit-dialog .v-card__text .v-input {
  .v-label {
    top: 14px;
    height: 25px;
  }
}
