@import '../../styles/app.scss';

body {
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $grey-tint;
    border-radius: 36px;
    border: none;
  }
}

div.v-application {
  .content {
    background-color: $body-bg;
  }
}

div.v-application.theme--dark {
  .main-header.theme--dark {
    background-color: #31313c!important;
  }
  .content {
    background-color: $body-bg-dark;
    .v-card {
      background-color: #23232D;
      box-shadow: none!important;
    }
  }
}

