@import "@/styles/app";

.docs {
  .v-card {
    .v-card__text {
      p.text-h5 {
        color: $grey-medium;
      }
      p, ul {
        color: $grey-bold;
      }
      a {
        color: $primary;
        text-decoration: none;
      }
      code, pre {
        background-color: #F3F5FF;
        color: $grey-bold;
        padding: 0.5rem 1rem;
        font-weight: 400;
        margin-bottom: 12px;
        font-size: 0.875rem;
      }
    }
  }
}
