@import "src/styles/variables";

.profile-page {
  .user-card {

    .avatar-wrapper {
      width: 115px;
      height: 115px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      border: 3px dotted $error;
      @include media-breakpoint-up(md) {
        width: 125px;
        height: 125px;
      }
      @include media-breakpoint-up(lg) {
        width: 185px;
        height: 185px;
      }

      .user-avatar {
        height: 94px;
        width: 94px;
        border-radius: 50%;
        @include media-breakpoint-up(md) {
          height: 104px;
          width: 104px;
        }
        @include media-breakpoint-up(lg) {
          height: 154px;
          width: 154px;
        }
      }
    }

    .user-name {
      font-size: 1.75rem;
    }
    .user-work {
      font-size: 0.75rem;
    }

    &.theme--dark {
      .user-name {
        color: white;
      }
    }
  }
  .media-card {
    .media-subtitle {
      font-size: .75rem;
    }

  }
  .article-card {
    .article-writer, .article-info {
      font-weight: 500;
      font-size: 12px;
    }
    .article-text {
      font-size: 14px;
      font-weight: 500;
    }
  }
  .calendar-card {
    .v-picker.v-card {
      box-shadow: none!important;
      .v-date-picker-header, .v-date-picker-table {
        padding: 0;
        height: 100%;
        .v-date-picker-header__value .accent--text button{
          color: $grey-medium;
        }
      }
    }

    &.theme--dark {

      .v-picker.v-card {
        box-shadow: none!important;
        .v-picker__body {
          background-color: transparent;
        }
        .v-date-picker-header, .v-date-picker-table {
          padding: 0;
          height: 100%;
          .v-date-picker-header__value .accent--text button{
            color: white;
          }
        }
      }
    }
  }
  .tasks-card {
    .done {
      .task-text, .task-time {
        color: $grey-tint!important;
        text-decoration: line-through;
      }
      .task-circle {
        color: $grey-tint!important;
      }
    }
    .task-text {
      line-height: 25px;
    }
    .v-slide-group__prev.v-slide-group__prev--disabled {
      display: none!important;
    }

    &.theme--dark {
      .v-tabs > .v-tabs-bar {
        background-color: transparent;
        .v-tab--active {
          color: white;
        }
      }
      .v-item-group.v-tabs-items {
        background-color: transparent;
      }
      .done {
        .task-text, .task-time {
          color: $grey-tint!important;
          text-decoration: line-through;
        }
        .task-circle {
          color: $grey-tint!important;
        }
      }

    }
  }
  .v-image {
    position: relative;
    p {
      position: absolute;
      left: 5px;
      color: white;
      font-weight: 600;
      &.folder-title {
        font-size: 18px;
        bottom: 15px;

      }
      &.folder-subtitle-1 {
        bottom: -5px;
        font-size: 13px;
      }
    }
  }
  .view-card {
    .views-value {
      font-size: 1.5rem;
    }
    .views-percent {
      font-size: 0.7rem;
    }
  }
  .pie-card {
    .apexcharts-legend.position-bottom.apexcharts-align-center {
      justify-content: flex-start;
    }
    &.theme--dark {
      .apexcharts-legend-series .apexcharts-legend-text{
        color: $grey-tint!important;
      }
    }
  }
  .update-card {
    .upd-text {
      font-size: 1.125rem;
    }
  }
  .chart-title {

  }
  .folder-card {
    .theme--dark.v-tabs > .v-tabs-bar {
      background-color: transparent;
      .v-tab--active {
        color: white;
      }
    }
    .v-item-group.theme--dark.v-tabs-items {
      background-color: transparent;
    }
  }
}
