@import "src/styles/variables";

.profile-page {
  .user-card {
    .avatar-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 185px;
      height: 185px;
      border-radius: 50%;
      border: 3px dotted $error;
      .user-avatar {
        border-radius: 50%;
      }
    }
  }
  .v-image {
    position: relative;
    p {
      position: absolute;
      left: 5px;
      color: white;
      font-weight: 600;
      &.folder-title {
        font-size: 18px;
        bottom: 15px;

      }
      &.folder-subtitle-1 {
        bottom: -5px;
        font-size: 13px;
      }
    }
  }
  .chart-title {

  }
}
