@import "../../styles/app";

ul.v-breadcrumbs {
  li:last-child div{
    color: $primary;
  }
  .v-breadcrumbs__item {
    font-size: 1.125rem;
    color: $grey-medium;
    cursor: pointer;
  }
}
.v-application.theme--dark {
  ul.v-breadcrumbs {
    li:last-child div{
      color: $primary;
    }
    .v-breadcrumbs__item {
      color: white;
    }
  }
}
